@keyframes flickerAnimation {
	0% { opacity:1; }
	50% { opacity:0.4; }
	100% { opacity:1; }
}

@-o-keyframes flickerAnimation{
	0% { opacity:1; }
	50% { opacity:0.4; }
	100% { opacity:1; }
}

@-moz-keyframes flickerAnimation{
	0% { opacity:1; }
	50% { opacity:0.4; }
	100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation{
	0% { opacity:1; }
	50% { opacity:0.4; }
	100% { opacity:1; }
}

.THIS .animate-flicker {
	-webkit-animation: flickerAnimation 1s infinite;
	-moz-animation: flickerAnimation 1s infinite;
	-o-animation: flickerAnimation 1s infinite;
	animation: flickerAnimation 1s infinite;
}